* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

body {
  background-color: #0c122c;
  background-image: url("./assets/bg-desktop.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; }

.web-container {
  height: 100%;
  display: flex;
  flex-direction: column; }

.table__container {
  flex: .5;
  display: flex;
  justify-content: center;
  width: 1000px;
  position: relative;
  align-items: flex-start; }

.container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 270px; }

.box {
  background-color: #1d2c67;
  border-radius: 10px;
  padding: 50px; }
  .box__left {
    border-top-right-radius: 100px;
    align-self: stretch;
    flex: .35;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .box__right {
    flex: .6;
    height: 30%;
    font-family: 'Raleway';
    font-size: 16px;
    position: relative; }
    .box__right:hover .tooltip {
      opacity: 1;
      transform: translateY(-10px); }
  .box__left--logo {
    margin-bottom: 40px; }

.buttons {
  display: flex;
  width: 150px;
  justify-content: space-between; }
  .buttons__wrapper {
    background-color: #0c122c;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }

.progress-bar__wrapper {
  width: 100%;
  height: 15px;
  border-radius: 20px;
  background-color: #0c122c;
  margin: 10px 0;
  overflow: hidden;
  padding: 4px; }

.progress-bar__used {
  position: relative;
  display: inline-block;
  width: 4%;
  height: 100%;
  background: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: inherit;
  transition: width 1s ease-in-out; }
  .progress-bar__used:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 10px;
    height: 10px;
    background-color: white; }
  .progress-bar__used--tooltip {
    color: black;
    background-color: white;
    padding: 3px;
    position: absolute;
    top: 77px;
    right: 8px;
    border-radius: 5px;
    opacity: 1; }

.progress-bar__info {
  display: flex;
  justify-content: space-between; }

.tooltip {
  color: black;
  background-color: white;
  padding: 15px;
  position: absolute;
  top: -40px;
  right: 30px;
  border-radius: 5px;
  opacity: 0;
  transition: all .3s ease-out; }
  .tooltip:after {
    content: '';
    display: inline-block;
    clip-path: polygon(50% 100%, 50% 100%, 0% 0%, 100% 0%);
    position: absolute;
    background-color: inherit;
    width: 17px;
    height: 17px;
    bottom: -15px;
    right: 10px; }
  .tooltip__note {
    display: inline-block;
    opacity: 0.6;
    font-size: small;
    transform: translateY(-10px); }

.table {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  border-collapse: collapse;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  color: black;
  font-family: 'Raleway';
  font-size: 12px;
  font-weight: bold; }
  .table td, .table th {
    border: 1px solid #ddd;
    padding: 5px; }
  .table th {
    font-size: 14px; }
